/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f5f3;
  /* background-color: lightgrey; */
}

.sm-container {
  max-width: 500px;
  margin: 0 auto;
  /* border: 1px solid; */
  height: 100%;
}

.m-container {
  max-width: 590px;
  margin: 0 auto;
  /* border: 1px solid; */
  height: 100%;
}

.lg-container {
  max-width: 100%;
  margin: 0 auto;
}

img {
  width: 60%;
}

li {
  list-style: none;
}

/* HEADER */

header {
  font-family: "Nerko One";
  background-color: #ffffff;
}

#logo {
  font-size: 5rem;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Background-color */
.bgc-y {
  background-color: #f7972e;
}

.bgc-p {
  background-color: #7b69a2;
}

/* Color */
.clr-y {
  color: #f7972e;
}

.clr-p {
  color: #4e3969;
}

.clr-lgr {
  color: #8b8b8b;
}

.clr-wht {
  color: white;
}

/* Btn-Color */

.twitter {
  color: #009eff;
}

.facebook {
  color: #1a77f3;
}

.instagram {
  color: #e1306c;
}

.pinterest {
  color: #e72222;
}

.youtube {
  color: #e62222;
}

/* Fake Button */

.sm-btn {
  padding: 10px;
  border-radius: 20px;
}

.m-btn {
  padding: 5px;
  border-radius: 5px;
}

.scl-btn {
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
}

/* MARGIN-BOTTOM */

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

/* MARGIN-TOP */
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

/* FONT-WEIGHT */

.bolder {
  font-weight: bolder;
}

.light {
  font-weight: 400;
}

/* LINE-HEIGHT */
.line-hgt {
  line-height: 1.8rem;
}

/* Divisor */

.lg-divisor {
  border: 1px solid lightgray;
  width: 100%;
}

.sm-divisor {
  border: 2px solid #f7972e;
  width: 100px;
}

/* RECIPE */

.recipe {
  font-size: 1.2rem;
}

.recipe-title {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.right-title {
  display: flex;
  align-items: baseline;
  align-self: flex-end;
}

.recipe-video {
  display: flex;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 315px;
  border: none;
}

.grey-box {
  background-color: #f6f5f9;
  padding: 10px;
}

/* Bottom-Box */
.bottom-box {
  box-shadow: 0px 10px 15px -1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 30px 0;
}

.kcal {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.veg {
  padding: 10px;
}

.recipe-ingredients {
  padding: 30px 0;
  line-height: 2rem;
}

/* SOCIAL */

.social {
  padding: 20px;
}
.social li {
  display: inline;
  margin: 0 15px;
}

.fa-brands {
  font-size: 2rem;
}

/* FLOAT-CONTENT */
.float-content {
  float: left;
}

/* FOOTER */

footer {
  background-color: #7c69a4;
  height: 100%;
  color: white;
  text-align: center;
  line-height: 2rem;
  padding: 20px 0;
}

footer a {
  color: white;
}

footer ul li {
  display: inline;
  margin-right: 30px;
}
